<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.css"  media="screen,projection"/>

    <title>Vestry Goup Planner</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <%- include('common/header'); -%>

    <div class="card large">
      <h3 style="text-align: center;">Biblical Quote of the day:</h3>
      <h4 id="quote" style="text-align: center;"><%= quote %></h4>
    </div>
        
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../materialize/js/materialize.js"></script>
  </body>
</html>