<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light cyan">
    <a class="navbar-brand" href="/" style="padding-right: 2%; padding-left: 2%;"> VG App </a>

        <% if(user) { %>
        <a class="nav-link" style="padding-right: 2%;" href="schedule"> View Schedule</a>
        <a class="nav-link" style="padding-right: 2%;" href="all-profiles"> View All Profiles</a>
        <a class="nav-link" style="padding-right: 2%;" href="view-profile"> View Profile </a>
        <a class="nav-link" style="padding-right: 2%;" href="logout"> <%= user.youth_email %> (Logout) </a> <%
        }%> <% if(!user) { %>
        <a class="nav-link" style="padding-right: 2%;" href="login"> Login </a>
        <a class="nav-link" style="padding-right: 2%;" href="join"> Register </a>
        <% } %>
      </div>
    </div>
  </nav>
</header>